body, html
{
	margin: 0;
	color: black;
	font-size: 15pt;
	font-family: 'montserrat';
}

.head
{
	text-align: center;
}

.navigation-bar
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li
{
	float: right;
}

li a {
	display: block;
	padding: 1.5vw;
	color: black;
  	text-align: center;
  	text-decoration: none;
}