body, html
{
	margin: 0;
	color: black;
	font-size: 13pt;
	font-family: 'montserrat';
}

.head
{
	width: 100%;
	position: relative;
}

.aline
{
	display: inline-block;
}

.headtitle
{
	margin-left: 50%;
}

.navigation-bar
{
	position: absolute;
	margin-left: 12vw;
	margin-right: 1vw;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 29vw;
	height: 55px;
	font-size: 14px;
}

.navigation-bar a
{
	float: left;
	text-align: center;
	padding: 1vw;
	color: black;
  	text-decoration: none;
}