{% extends '../navigation.html' %}

{% block update %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
</head>

	{% if review_view == True %}
		<p class=headline>Modifier votre critique</p>
		<div class="ticket-block">
			<p>Vous êtes en train de poster en réponse à</p>
			<table class="show-ticket">
				<tr><td>{{ticket.user}} a demandé une critique</td></tr>
				<tr><td>{{ticket.title}}</td></tr>
				<tr><td>{{ticket.description}}</td></tr>
				<tr><td><img src="{{ MEDIA_URL }}{{ticket.image}}"></td></tr>
			</table>
		</div>
		<table class="review-form-table">
			<form method="POST">
			{% csrf_token %}
			<tr><td class="form-content">{{ form.headline.label }}</td></tr>
			<tr><td class="form-content">{{ form.headline }}</td></tr>
			<tr><td class="form-content">{{ form.rating.label }}</td></tr>
			<tr><td class="form-content">{{ form.rating }}</td></tr>
			<tr><td class="form-content">{{ form.body.label }}</td></tr>
			<tr><td class="form-content body">{{ form.body }}</td></tr>
			<td class="input-submit"><input type="submit" value="Envoyer"></td>
			</form>
		</table>
	{% else %}
	<table class="review-form-table ticket-table">
		<tr><td class=headline>Modifier votre ticket</td></tr>
			<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<tr><td class="form-content">{{ form.title.label }}</td></tr>
        <tr><td class="form-content">{{ form.title }}</td></tr>
        <tr><td class="form-content">{{ form.description.label }}</td></tr>
        <tr><td class="form-content">{{ form.description }}</td></tr>
        <tr><td class="form-content">{{ form.image.label }}</td></tr>
		<tr><td class="form-content"><img src="{{ form.image.value.url }}"></td></tr>
        <tr><td class="form-content">{{ form.image }}</td></tr>
		<tr><td class="input-submit"><input type="submit" value="Envoyer"></td></tr>
	</form>
</table>
	{% endif %}

{% endblock %}