
.ticket, .review
{
	border: black solid 1px;
	padding: 5px;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.inline
{
	display: inline-block;
	vertical-align: top;
}

.date-tag
{
	position: relative;
	float: right;
	margin-right: 3px;
}

.checked 
{
  	color: red;
}