<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>LITReview</title>
	</head>
	<body>
		<header id="head">
			<h2>LITReview</h2>
			{% block navigation %}{% endblock %}
		</header>
		
		<!-- Comentaire-->
		<div>
			{% block login %}{% endblock %}
			{% block register %}{% endblock %}
			{% block feed %}{% endblock %}
			{% block subscriptions %}{% endblock %}
			{% block result %}{% endblock %}
			{% block posts %}{% endblock %}
			{% block update %}{% endblock %}
		</div>
	</body>
</html>
