<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>LITReview</title>
		{% load static %}
  		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<header>
			<div class="head">
				<h2 class="headtitle aline">LITReview</h2>
				<div class="navigation-bar aline">{% block navigation %}{% endblock %}</div>
			</div>
		</header>
		
		<!-- Comentaire-->
		<div>
			{% block login %}{% endblock %}
			{% block register %}{% endblock %}
			{% block feed %}{% endblock %}
			{% block subscriptions %}{% endblock %}
			{% block profil %}{% endblock %}
			{% block result %}{% endblock %}
			{% block posts %}{% endblock %}
			{% block update %}{% endblock %}
			{% block resolve %}{% endblock %}
			{% block logout %}{% endblock %}
		</div>
	</body>
</html>
