{% extends '../base.html' %}
{% block login %}

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
</head>

<div class="login-segment">
  <table class="register-link">
    <th>Inscrivez-vous maintenant</th>
    <tr>
      <td><button onclick="window.location='register'">S'inscrire</button></td> 
    </tr>
  </table>

  <table class="login-table">
    <th>Connectez-vous</th>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <tr><td class="td-field">{{ form.username }}</td></tr>
      <tr><td class="td-field">{{ form.password }}</td></tr>
      <td class="td-button"><input type="submit" value="Se connecter" name="Connect"/></td>
    </form>
  </table>
</div>

{% endblock %}