{% extends '../base.html' %}

{% block register %}

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}">
</head>

<div class="register-segment">
   <table class="register-table">
      <th>Inscrivez-vous</th>

      <form method="POST">
      {% csrf_token %}
      
      <tr><td class="td-field">{{ form.username }}</td></tr>
      <tr><td class="td-field">{{ form.password1 }}</td></tr>
      <tr><td class="td-field">{{ form.password2 }}</td></tr>
      <tr><td class="td-button"><input type="reset" value="Retourner" onclick="window.location='{% url 'login' %}'"></input>
         <input type="submit" name="submit" value="S'inscrire"></input></td></tr>
      </form>
   </table>
</div>

{% endblock %}