{% extends '../navigation.html' %}
{% block subscriptions %}

<div class="search-container">
		<h4>Suivre d'autres utilisateurs</h4>
    <form action="{% url 'search' %}" method=POST>
    	{% csrf_token %}
      <input type="text" placeholder="Nom d'utilisateur" name="search">
      <button type="submit">Envoyer</button>
    </form>
</div>

<h4>Abonnements</h4>

	{% if followings.exists %}
		<table class="user-follows" id="following">
	 	{% for following in followings %}
			<tr>
	 			<th>{{ following.user }}</th>			
				<th>
					<button type="button" onclick="location.href='{% url 'unsubscribe' following.id %}'">se désabonner</button>
				</th>
			</tr>
	 	{% endfor %}
	 	</table>
	{% else %}
	 	<p>Vous ne suivez personne pour le moment</p>
	{% endif %}


<h4>Abonnés</h4>
	{% if followers.exists %}
		<table class="user-follows" id="follower">
		{% for follower in followers %}
			<tr>
				<th>{{ follower.followed_user }}</th>
			</tr>
 		{% endfor %}
 		</table>
 	{% else %}
 		<p>Vous n'avez pas encore d'abonnés</p>
 	{% endif %}


{% endblock %}