{% extends '../navigation.html' %}
{% block subscriptions %}

<div class="search-container">
    <form action="" method=POST>
    	{% csrf_token %}
      <input type="text" placeholder="Nom d'utilisateur" name="search">
      <button type="submit">Envoyer</button>
    </form>
</div>

<h3>Abonnements</h3>
<table class="user-follows" id="following">
	{% for subscriber in user_follow %}
		<tr>
			<th>{{ subscriber.user }}</th>
			<th><button>se désabonner</button></th>
		</tr>
	{% endfor %}
</table>

<h3>Abonnés</h3>
<table class="user-follows" id="follower">
	{% for subscriber in user_follow %}
		<tr>
			<th>{{ subscriber.followed_user }}</th>
		</tr>
	{% endfor %}
</table>

{% endblock %}