<div class='ticket'>
	<table>
	{% if post_view is True %}
		{% if post.user == request.user %}
			<p>vous avez publié un ticket</p>
		{% else %}
			<p>Ticket - {{ post.user }}</p>
		{% endif %}
		<p>{{post.time_created}}</p>
		<p>{{ post.title }}</p>
		<p>{{ post.description }} <br>
		<img src="{{ post.image }}"><br></p>
	{% else %}
		{% if post.user == request.user %}
			<p>vous avez demandé une critique</p>
		{% else %}
			<p>{{ post.user }} a demandé une critique</p>
		{% endif %}

		<p>{{ post.title }} <br>
		{{ post.description }}</p>
		<img src="{{ post.image }}">

	{% endif %}
	</table>
</div>