{% extends '../navigation.html' %}

{% block feed %}

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
</head>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="review-form-table ticket-table">
        <tr><td class=headline>Créer un ticket</td></tr>
        <tr><td class="form-content">{{ form.title.label }}</td></tr>
        <tr><td class="form-content">{{ form.title }}</td></tr>
        <tr><td class="form-content">{{ form.description.label }}</td></tr>
        <tr><td class="form-content">{{ form.description }}</td></tr>
        <tr><td class="form-content">{{ form.image.label }}</td></tr>
        <tr><td class="form-content">{{ form.image }}</td></tr>
        <tr><td class="input-submit"><input type="submit" name="submit" value="Envoyer"></td></tr>
    </table>
</form>

{% endblock %}