{% extends '../navigation.html' %}
{% block feed %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
</head>
 
<div class="feed-segment">
    <div class="feed-buttons">
        <button onclick="window.location='creer-ticket'">Demander une critique</button> 
        <button onclick="window.location='creer-critique'">Créer une critique</button> 
    </div>

    <div class="post-segment">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'snippet/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'snippet/review_snippet.html' %}
        {% endif %}
    {% endfor %}

    <p class="headline">{{ message }}</p>
    </div>
</div>

{% endblock %}