{% extends '../navigation.html' %}
{% block feed %}
 
<button onclick="window.location='creer-ticket'">Demander une critique</button> 
<button onclick="window.location='creer-critique'">Créer une critique</button> 

{% for post in posts %}
    {% if post.content_type == 'TICKET' %}
        {% include 'snippet/ticket_snippet.html' %}
    {% elif post.content_type == 'REVIEW' %}
        {% include 'snippet/review_snippet.html' %}
    {% endif %}
    <button name="create_review_button" onclick="window.location='{% url 'create-review' %}'">Créer une critique</button>
{% endfor %}

<p>{{ message }}</p>

{% endblock %}
